@import "../assets/stylesheets/_bootstrap.scss";
$colorBorder: #fff; //цвет border
$colorBackground: #f6faff; //цвет фона
$colorDecorate: #fff200; //миксин для regular текста
@mixin regularText($fontRegularSize: 1rem, $colorRegularFont: #31353e ) {
    font-family: "Roboto Regular", "Arial", sans-serif;
    color: #{$colorRegularFont};
    font-size: #{$fontRegularSize};
}
//миксин для bold
@mixin boldText($fontBoldSize: 3.3rem, $colorBoldFont: #31353e) {
    font-family: "Roboto Bold", "Arial", sans-serif;
    font-weight: bold;
    font-size: #{$fontBoldSize};
    color: #{$colorBoldFont};
    line-height: $fontBoldSize + 0.3rem;
}
//миксин для border
@mixin border($colorBorder, $borderWidth: 4px, $borderDecor: solid, $borderRadius: 10px) {
    border-width: #{$borderWidth};
    border-style: #{$borderDecor};
    border-radius: #{$borderRadius};
    border-color: #{$colorBorder};
}
@mixin flex-row {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
}

html {
    font-size: 16px;
}

body {
    @include regularText();
    background-color: $colorBackground;
}

img {
    width: 100%;
    height: auto;
}

.undertitle {
    float: none;
    @extend .center-block;
    @include clearfix();
    margin-top: 30px;
    width: 100%;

    h2 {
        @include regularText($fontRegularSize: 3rem, $colorRegularFont: #31353e);
        text-align: center;
    }
}
//################  Главная страница  ######################

.container-fluid {
    padding: 0;
}
//фон главной страницы

.main-page {
    position: relative;
    background-image: url("../img/main-page.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
//верхняя часть страницы

.navigation {
    @include clearfix;
}
//логотип

.logo {
    max-width: 10%;
    min-width: 120px;
    padding: 10px;
    @include border($colorBorder);
    float: left;
    margin-left: 2%;
    margin-top: 20px;
}
//заголовок слева снизу

.title {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-right: -15px;
    padding: 2em;
    text-align: center;
    color: #fff;
    @include border($colorBorder);
    border-left: none;
    border-bottom: none;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

    h1 {
        text-align: center;
        min-width: 320px;
        @include regularText($fontRegularSize: 1.5rem, $colorRegularFont: #fff);

        &::first-line {
            @include boldText($colorBoldFont: #fff);
        }
    }

    &-btn {
        float: right;
    }
}
//кнопка справа снизу

.btn {
    @include border($colorBorder);
    padding: 1% 2%;
    animation: fill 0.5s linear 0 infinite alternate both;
    animation-play-state: paused;

    &:hover {
        animation-play-state: running;
        cursor: pointer;
    }

    a {
        @include regularText();

        &:hover {
            text-decoration: none;
        }
    }
}
@keyframes fill {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(100,100,100,0.5);
    }

    100% {
        background-color: $colorBorder;
    }
}

.main-btn {
    position: absolute;
    right: 5%;
    bottom: 5%;

    a {
        color: #fff;
    }

    &:hover {
        @include border(rgba(192, 192, 192, 0.8));

        a {
            color: rgba(192, 192, 192, 0.8);
        }
    }
}
//меню

.main-menu {
    float: right;
}

nav {
    .menu-btn {
        display: block;
        right: 0;
        top: 0;
        padding: 0;
        margin: -1px 0 0;
        width: 50px;
        padding: 10px;
        height: 50px;
        @include border($colorBorder, $borderWidth: 1px, $borderRadius: 0);
        margin-bottom: -1px;
        box-shadow: inset 0 0 4px 0;
        position: fixed;
        z-index: 5;
    }

    .main-menu {
        opacity: 1;
        display: block;
        padding: 0;
        list-style: none;
        position: fixed;
        top: -1px;
        right: 0;
        height: auto;

        li {
            width: 50px;
            padding: 10px;
            height: 50px;
            @include border($colorBorder, $borderWidth: 1px, $borderRadius: 0);
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: -2px;
            box-shadow: inset 0 0 4px 0;

            &:hover {
                box-shadow: inset 0 0 6px 0 rgba(255, 255, 255, 0.5);
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}
//####################### Блок услуг ###############################

.services {
    ul {
        @include flex-row();
        list-style: none;
        margin-top: 50px;

        li {
            position: relative;
            @include make-sm-column(3);
            @include make-xs-column(6);
            text-align: center;
            min-width: 220px;
            padding: 20px 10px;
            border-radius: 20px;

            img {
                width: 180px;
                height: 180px;
                @extend .img-circle;
                border: 2px solid transparent;
                margin-bottom: 20px;
                text-transform: capitalize;
                cursor: pointer;
            }

            &:before {
              opacity: 0;
              background-color: rgba(0,255,255,0.2);
              width: 100%;
              height: 100%;
              box-shadow: 0 0 10px 0 rgba(100, 100, 100, 1);
              z-index: 1;
              position: absolute;
              padding: 20px 10px;
              border-radius: 20px;
              top: -10px;
              left: 0;
              transition: 5s;
            }
        }

        li:hover {
            position: relative;

            &::before {
                content: "";
                opacity: 1;
                transition: 5s;
            }

            & > img {
                position: relative;
                z-index: 20;
                border-top-color: #0eb7da;
                border-right-color: #0eb7da;
                border-bottom-color: #0eb7da;
                border-left-color: #0eb7da;
                -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.5s, border-bottom-color 0.15s linear 0.2s;
                transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.5s, border-bottom-color 0.15s linear 0.2s;
            }

            & > p {
                position: relative;
                z-index: 20;
            }

            &::after {
                border-top: 2px solid #0eb7da;
                border-left-width: 2px;
                border-right-width: 2px;
                transform: rotate(270deg);
                -webkit-transition: border-left-width 1s linear 0.35s, -webkit-transform 0.4s linear 0s;
                transition: border-left-width 1s linear 0.35s, -webkit-transform 0.4s linear 0s;
                transition: transform 1s linear 0s, border-left-width 0s linear 1s;
                transition: transform 1s linear 0s, border-left-width 0s linear 1s, -webkit-transform 0.4s linear 0s;
            }

            .btn {
                z-index: 20;
                visibility: visible;
                position: relative;

                &:hover {
                    background-color: #FFF0EC;
                    border-color: #FFF0EC;
                }

                &:active {
                  background-color: rgb(255, 191, 211);
                  border-color: rgb(255, 191, 211);
                }
            }
        }

        p {
            @include regularText($fontRegularSize: 1.4rem);
            word-break: break-all;
        }

        .btn {
            visibility: hidden;
            box-shadow: 0 0 10px 4px rgba(100, 100, 100, 1);
            background-color: $colorBorder;
        }
    }
}
//################## Блок специального предложения ######################

.stock {
    @include clearfix();
    background-image: url("../img/stock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;

    &-left-col {
        @include make-xs-column-offset(1);
        @include make-xs-column(10);
        @include make-sm-column(6);
        margin-top: 30px;

        p {
            @include regularText($fontRegularSize: 1.62rem);
        }
    }

    &-right-col {
        @include make-xs-column(10);
        @include make-sm-column(4);
        margin-right: 4%;
        margin-left: 4%;
        background-color: rgba(255, 255, 255, 0.55);
        padding: 40px 30px;
        @include border(rgba(255, 255, 255, 0.22));
        text-align: center;
        min-width: 240px;

        p {
            @include regularText($colorRegularFont: #000, $fontRegularSize: 1.87rem)
        }
    }

    &-timer {
        display: block;
        @extend .center-block;
        margin-top: 140px;
        padding-bottom: 48px;
        @include regularText($colorRegularFont: #000, $fontRegularSize: 2.18rem);

        div {
            font-size: 1.25rem;
            float: left;
            margin-right: 20px;
            @extend .center-block;
        }
    }

    &-form {
        input:not([type="submit"]) {
            width: 90%;
            min-width: 110px;
            padding: 2% 1%;
            margin-bottom: 60px;
            @include border($colorBorder, $borderRadius: 10px);
            font-size: 1.25rem;
            box-shadow: 0 2px 4px 0;
            @extend .center-block;

            &:hover {
                box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 1);
            }
        }

        .stock-form__btn {
            @include border($colorBorder, $borderRadius: 30px, $borderWidth: 0px) min-width: 50%;
            padding: 5%;
            @extend .center-block;
            font-size: 1.25rem;
            background-color: $colorBorder;

            &:hover {
                box-shadow: 0 2px 10px 0;
            }

            &:active {
                box-shadow: inset 0 0 2px 4px rgba(100, 100, 100, 1);
            }
        }

        .btn {
            box-shadow: none;
        }
    }
}
//################## Блок о компании ######################

.about {
    @include clearfix;
    margin-top: 30px;
    @include flex-row();

    &-col-left {
        @include make-xs-column(12);
        @include make-sm-column(10);
        @include make-md-column(7);
        @include regularText($fontRegularSize: 1rem);

        h3 {
            @include boldText($fontBoldSize: 2.8rem);
            margin-bottom: 50px;
        }

        p {
            margin-bottom: 36px;
        }

        &__list-title {
            text-transform: uppercase;
            @include boldText($fontBoldSize: 1rem);
        }

        ul {
            list-style: none;
            padding-left: 36px;

            li {
                margin-top: 36px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 9px;
                    left: -36px;
                    width: 27px;
                    height: 1px;
                    border-bottom: 2px solid red;
                }
            }
        }
    }

    &-col-right {
        @include make-xs-column(12);
        @include make-sm-column(10);
        @include make-md-column(5);
        align-self: center;
        text-align: center;

        .about__slogan {
            @include boldText($fontBoldSize: 1rem);
            margin-bottom: 30px;
        }

        img {
            @extend .center-block;
            max-width: 220px;
            width: 40%;
            object-fit: cover;
            object-position: center;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                width: 30%;
                text-align: left;
                min-height: 98px;

                p:first-of-type {
                    @include boldText($fontBoldSize: 2.87rem);
                }
            }
        }
    }
}
//################## Блок галереи ######################

.gallery {
    margin-bottom: 30px;
    @include clearfix();

    ul {
        @include flex-row();
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
        @include clearfix();

        li {
            position: relative;
            text-align: center;
            @include make-sm-column(3);
            @include make-xs-column(6);
            padding: 0;
            overflow: hidden;
            height: 300px;

            a {
                display: inline-block;
                width: 100%;
                height: auto;
            }

            img {
                height: 300px;
                object-fit: cover;
                object-position: center;

            }

            &:hover {
                img {
                    object-position: 50% 50%;
                    transform: scale(2, 2);
                    transition: transform 10s ease 0;
                }
            }
        }
    }

    .btn-gallery {
        float: right;
        margin-right: 15px;
        background-color: $colorBorder;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.3);
        border-radius: 30px;

        &:hover {
            box-shadow: 0 2px 20px 0 rgba(0,0,0,0.8);
        }

        &:active {
            box-shadow: inset 0 2px 10px 0 rgba(0,0,0,0.3);
        }
    }
}
//слайдер

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:after,
    &:before {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }
    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}
//################## Блок отзывов ######################

.reviews {
    padding-bottom: 30px;

    ul {
        list-style: none;
        @include flex-row();
        padding: 0;
        justify-content: flex-start;
        @include clearfix();

        li {
            @include clearfix();
            @include boldText($fontBoldSize: 1.5rem);
            position: relative;
            padding: 0 65px;

            img {
                @include make-sm-column(3);
                min-width: 250px;
                max-width: 400px;
            }

            .review-col {
                @include make-xs-column(12);
                @include make-sm-column(12);
                @include make-md-column(9);

                &__author {
                    float: right;
                    @include boldText($fontBoldSize: 1rem);

                    &::first-line {
                        @include boldText($fontBoldSize: 1.5rem);
                    }
                }
            }

            .review {
                &::before {
                    content: "";
                    position: absolute;
                    border-bottom: 1px solid grey;
                    border-left: 1px solid grey;
                    width: 40px;
                    height: 40px;
                    top: 50%;
                    left: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    content: "";
                    position: absolute;
                    border-bottom: 1px solid grey;
                    border-left: 1px solid grey;
                    width: 40px;
                    height: 40px;
                    top: 50%;
                    right: 0;
                    transform: rotate(225deg);
                }
            }
        }
    }
}
//################## Блок работников ######################

.workers {
    background-color: #fff;
    padding-bottom: 30px;

    ul {
        list-style: none;
        padding: 20px 0 0;
        @include clearfix();
        @include flex-row();
        justify-content: space-around;

        li {
            @include make-xs-column(3);
            text-align: center;
            background-color: #edeff1;
            box-shadow: 0 0 29px 0;
            padding: 30px 20px;
            max-width: 400px;
            min-width: 265px;
            margin-top: 5px;

            img {
                object-fit: cover;
                object-position: 50% 50%;
                border-radius: 50%;
                width: 225px;
                margin-bottom: 25px;
                height: 225px;
            }

            .worker__name {
                @include regularText($fontRegularSize:1.75rem);
            }

            .worker__description {
                @include regularText($fontRegularSize:1.3rem);
            }
        }
    }
}
//################## Блок карты ######################

.map {
    position: relative;

    .map-image {
        @extend .img-responsive;

        .map-no-js {
            width: 100%;
        }
    }

    .map-contacts {
        @include make-xs-column(3);
        position: absolute;
        top: 35%;
        right: 10%;
        background-color: #fff;
        padding: 20px;
        @include border($colorBorder);

        &__phone p,
        &__title {
            @include regularText($fontRegularSize: 0.6rem);
        }

        & a:first-of-type,
        &__address {
            @include boldText($fontBoldSize: 0.9rem);
        }

        a:hover {
            text-decoration: none;
        }

        &__btn {
            background-color: #fdc2c1;
            width: 100%;
            padding: 10px 30px;

            & a {
                word-break: break-all;
                text-decoration: none;
            }

            &:hover {
                background-color: rgba(165, 20, 0, 0.7);

                a {
                    text-decoration: none;
                }
            }

            &:active {
                background-color: rgba(220, 42, 42, 0.7);
            }
        }
    }
}
//################## Футер ######################

.footer-col {
    @include flex-row();
    justify-content: space-around;
    padding-top: 42px;
    padding-bottom: 42px;
    background-color: #fff;

    .social {
        @include make-xs-column(3);
        margin-left: 50px;
        flex-grow: auto;

        ul {
            padding: 0;
            list-style: none;

            li {
                width: 47px;
                height: 47px;
                border-radius: 50%;
                background-color: grey;
                display: inline-block;
                margin-right: 10px;
            }

            .social-btn {
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.7;

                &:hover {
                    opacity: 0.9;
                }
            }

            .social-btn__vk {
                background-image: url("../img/vk-icon.png");
            }

            .social-btn__fb {
                background-image: url("../img/fb-icon.png");
            }

            .social-btn__insta {
                background-image: url("../img/insta-icon.png");
            }
        }
    }

    .ad {
        @include make-xs-column(12);
        @include make-sm-column(4);
        text-align: center;

        p:first-of-type {
            @include boldText($fontBoldSize: 1.31rem);
        }

        p {
            @include boldText($fontBoldSize: 0.6rem);
        }
    }

    .delivery {
        @include make-xs-column(12);
        @include make-sm-column(4);
        @include regularText($fontRegularSize: 0.9rem);
        position: relative;
        text-align: center;
        margin-bottom: 5px;

        input[type="email"] {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid lightgrey;
            padding-right: 10px;
        }

        label[for="delivery-btn"] {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                border-bottom: 1px solid lightgrey;
                border-left: 1px solid lightgrey;
                width: 10px;
                height: 10px;
                top: -5px;
                left: -20px;
                transform: rotate(225deg);
            }

            input[type="email"]:hover {
                border-bottom: 2px solid grey;
                color: rgba(0, 0, 0, 1);

                & label[for="delivery-btn"]::after {
                    border-bottom: 1px solid black;
                    border-left: 1px solid black;
                }
            }
        }

        .delivery-btn {
            background-color: transparent;
            border: none;
            width: 20px;
            position: relative;
        }
    }
}
@media screen and (max-width: 1200px) {
    .reviews ul li {
        .review-col {
            @include make-xs-column(12);
            text-align: center;
        }

        img {
            display: block;
            margin: 0 auto;
            float: none;
        }
    }
}
@media screen and (max-width: 900px) {
    .map {
        @include flex-row();
        justify-content: space-around;

        .map-contacts {
            position: relative;
            @include make-xs-column(6);
            border: none;
            border-radius: 0;
            top: 0;
            right: 0;
        }

        .map-image {
            @include make-xs-column(6);
            padding-left: 0;
            padding-right: 0;
            overflow: hidden;

            img.map-no-js {
                width: auto;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }
}
@media screen and (max-width: 777px) {
    .main-page {
        .main-btn {
            min-width: 161px;
            margin: 0 auto;
        }
    }

    .title {
        border: none;
        bottom: 40%;
        left: 10%;
    }

    .workers {
        ul {
            li {
                max-width: 100%;
                margin-left: 25%;
                margin-right: 25%;
                margin-bottom: 20px;
                width: auto;
            }
        }
    }

    .footer-col {
        .social {
            order: 3;
            margin-left: 0;
            text-align: center;
            width: 70%;
        }
    }
}
@media screen and (max-width: 500px) {
    .title {
        h1 {
            text-align: center;
            min-width: 200px;
            @include regularText($fontRegularSize: 1rem, $colorRegularFont: #fff);

            &::first-line {
                @include boldText($colorBoldFont: #fff,$fontBoldSize: 2rem );
            }
        }
    }

    .undertitle {
        h2 {
            @include regularText($fontRegularSize: 2.1rem, $colorRegularFont: #31353e);
        }
    }

    nav {
        z-index: 5;

        .menu-btn {
            background-color: rgba(255, 255, 255, 0.5);
            width: 50px;
            height: 50px;
            position: fixed;
            right: 0;
            text-align: center;

            &:hover {
                box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.5);
                background-color: rgba(255, 150, 0, 0.5);
            }
        }

        span {
            display: block;
            position: absolute;
            height: 5px;
            width: 35px;
            margin-bottom: -2px;
            right: 5px;
            background: #000000;
            border-radius: 9px;
            opacity: 1;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
        }

        span:nth-child(1) {
            top: 8px;
        }

        span:nth-child(2) {
            top: 20px;
        }

        span:nth-child(3) {
            top: 32px;
        }

        &:hover span:nth-child(1) {
            top: 18px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        &:hover span:nth-child(2) {
            opacity: 0;
            right: -60px;
        }

        &:hover span:nth-child(3) {
            top: 18px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }

        .main-menu {
            display: none;
        }

        .menu-btn:hover {
            & .main-menu {
                margin-top: 48px;
                -webkit-transition: 0.25s linear opacity;
                opacity: 1;
                display: block;

                li:hover {
                    box-shadow: inset 0 0 6px 0 rgba(255, 255, 255, 0.5);
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }

        .menu-btn.close:hover {
            & .main-menu {
                -webkit-transition: 0.25s linear opacity;
                opacity: 0;
                display: none;
            }
        }

        ul:hover {
            display: block;
            margin-top: 48px;
        }
    }

    .services {
        ul {
            margin-top: 20px;
            padding-left: 0;

            li {
                @include center-block();
            }
        }
    }

    .stock {
        .stock-timer {
            margin-top: 10px;
        }
    }

    .about {
        margin-top: 20px;

        &-col-left {
            @include regularText($fontRegularSize: 1rem);

            h3 {
                @include boldText($fontBoldSize: 2rem);
                margin-bottom: 30px;
            }
        }

        .about-col-right {
            padding: 0;

            ul li {
                @include regularText($fontRegularSize: 0.9rem);

                p:first-of-type {
                    @include boldText($fontBoldSize: 2rem);
                }
            }
        }
    }

    .reviews {
        ul {
            li {
                padding: 0 25px;
                @include boldText($fontBoldSize: 2rem);

                img {
                    width: 80%;
                    min-width: 100px;
                    @include center-block();
                }

                .review {
                    .review-col {
                        padding: 0;

                        .review-col__text {
                            @include boldText($fontBoldSize: 1rem);
                        }

                        &__author {
                            @include boldText($fontBoldSize: 0.7rem);

                            &::first-line {
                                @include boldText($fontBoldSize: 1rem);
                            }
                        }
                    }
                }
            }
        }
    }

    .workers {
        ul li {
            margin-left: 5%;
            margin-right: 5%;
            box-shadow: 0 0 10px 0;
        }
    }

    .map {
        .map-contacts {
            @include make-xs-column(12);
            text-align: center;
        }

        .map-image {
            @include make-xs-column(12);
            padding: 0;
        }
    }

    .footer-col {
        padding: 10px 0;
    }
}
